In [ ]:
import pandas as pd

# 시리즈 만들기

In [ ]:
# 1. 딕셔러니로 만들기
dict_data = {'a':1,'b':2,'c':3}
s1 = pd.Series(dict_data)

In [ ]:
s1.values

array([1, 2, 3])

In [ ]:
# 2. 리스트로 만들기
list_data = [1,2,3]
s2 = pd.Series(list_data)

s2

0    1
1    2
2    3
dtype: int64

In [ ]:
list_data = ['2021-05-12',3.14,'abc',100,True]
s3 = pd.Series(list_data)
s3

0    2021-05-12
1          3.14
2           abc
3           100
4          True
dtype: object

In [ ]:
# 3. 튜플로 만들기
tuple_data = ('경수','2021-05-11','남',True)
s1 = pd.Series(tuple_data,index = ['name','birth','gender','student'])
s1[['name','student']]

name         경수
student    True
dtype: object

# 데이터프레임 만들기

In [ ]:
#1. 딕셔너리로 만들기
dict_data = {'c0':[1,2,3],'c1':[4,5,6],'c2':[7,8,9],'c3':[10,11,12],'c4':[13,14,15]}
df = pd.DataFrame(dict_data)
df

AttributeError: ignored

In [ ]:
# 2. 리스트로 만들기
friend_list = [['j',20,'std'],['k',15,'teach'],['gg',13,'dff']]
df = pd.DataFrame(friend_list, columns=['name','age','job'])
df

  name  age    job
0    j   20    std
1    k   15  teach
2   gg   13    dff

In [ ]:
df.index = [x for x in range(6) if x % 2 == 1]
df

  name  age    job
1    j   20    std
3    k   15  teach
5   gg   13    dff

In [ ]:
df = df.rename(columns = {'name':'이름','age':
                          '나이','job':'직업'}, inplace = True)
df

In [ ]:
s5 = pd.Series([1,2,3])
s6 = pd.Series(['one','two','three'])

In [ ]:
# 과제 1
friend_list_no_head_data = pd.read_csv('friend_list_no_head.csv',header = None, names = ['name','age','job'])

lst = pd.DataFrame(friend_list_no_head_data)  
lst
#lst

    name  age        job
0   John   20    student
1  Jenny   30  developer
2   Nate   30    teacher
3  Julia   40    dentist
4  Brian   45    manager
5  Chris   25     intern

In [ ]:
df2 = pd.read_csv('friend_list_tab.txt',delimiter='\t')
df2

    name  age        job
0   John   20    student
1  Jenny   30  developer
2   Nate   30    teacher
3  Julia   40    dentist
4  Brian   45    manager
5  Chris   25     intern

In [ ]:
df2.drop([2])

    name  age        job
0   John   20    student
1  Jenny   30  developer
3  Julia   40    dentist
4  Brian   45    manager
5  Chris   25     intern

In [ ]:
df2.drop(['age'], inplace = True, axis = 1)
df2

    name        job
0   John    student
1  Jenny  developer
2   Nate    teacher
3  Julia    dentist
4  Brian    manager
5  Chris     intern